.mainHeader {
  @include headerDesign(2.5rem, $fontColor, "Roboto");
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: 10px auto;
  h2 {
    @include headerDesign(1rem, $fontColor, "Roboto");
    border-bottom: 1px solid $fontColor;
    padding: 10px;
  }
}

canvas.mainGame {
  @include boardDesign($width, $height + 25px);
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .scores {
    @include boardDesign(200px, $height / 2);
    margin: 3px;
  }
  .chat {
    position: relative;
    @include boardDesign(200px, $height / 2);
    margin: 3px;
    form {
      margin: 0 auto;
      position: absolute;
      bottom: 10px;
      left: 10px;
      input {
        background-color: $bgColor;
        width: 70%;
        height: 3vh;
        color: lighten($bgColor, 50%);
        border: 1px solid lighten($bgColor, 50%);
        border-radius: 3px;
      }
      button {
        width: 20%;
        height: 3vh;
        background-color: $bgColor;
        border: 1px solid lighten($bgColor, 50%);
        color: lighten($bgColor, 50%);
        border-radius: 3px;
      }
    }
  }
}

ol {
  margin: 2vw;
  li {
    font-size: 1.5rem;
    &:nth-child(1) {
      color: $FirstPlayer;
    }
    &:nth-child(2) {
      color: $SecondPlayer;
    }
    &:nth-child(3) {
      color: $ThirdPlayer;
    }
    &:nth-child(4) {
      color: $FourthPlayer;
    }
    span {
      width: 100%;
      display: block;
      & + span {
        text-align: center;
      }
    }
  }
}
