.mainHeader {
  @include headerDesign(2.5rem, $fontColor, "Roboto");
  padding-top: 2%;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: 10px auto;
  h2 {
    @include headerDesign(1rem, $fontColor, "Roboto");
    border-bottom: 1px solid $fontColor;
    padding: 10px;
  }
}

.wrapper {
  @include boardDesign($width, $height);
  position: relative;
}
.redPlayer,
.greenPlayer,
.bluePlayer,
.yellowPlayer {
  stroke-linecap: round;
  position: absolute;
  top: -5px;
  left: -5px;
}
