.mainHeader {
  @include headerDesign(2.5rem, $fontColor, "Roboto");
  padding-top: 2%;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: 10px auto;
  h2 {
    @include headerDesign(1rem, $fontColor, "Roboto");
    border-bottom: 1px solid $fontColor;
    padding: 10px;
  }
}

.wrapper {
  @include boardDesign($width, $height);
  position: relative;
}
.redPlayer,
.greenPlayer,
.bluePlayer,
.yellowPlayer {
  stroke-linecap: round;
  position: absolute;
  top: -5px;
  left: -5px;
}

.modal {
  display: none;
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  bottom: 10vh;
  border: 3px solid lighten($bgColor, 50%);
  border-radius: 5px;
  box-shadow: 5px 5px 16px 5px $boardColor;
  background-color: $bgColor;
  transition: 0.3s;
  .close {
    position: absolute;
    font-size: 4rem;
    color: $fontColor;
    right: 0;
    top: -1rem;
    margin: 10px;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      color: darken($fontColor, 20%);
    }
  }
  h1 {
    @include headerDesign(3rem, $fontColor, "roboto");
    margin: 30px auto;
  }
  ol {
    list-style: none;
    text-align: center;
    li {
      font-size: 2rem;
      padding: 5px;
    }
  }
  div {
    color: $fontColor;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
    &:nth-of-type(even) {
      color: darken($fontColor, 20%);
    }
    &:last-of-type {
      font-size: 2rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.activeModal {
  display: block;
  box-shadow: 0 0 0 500px $boardColor;
  opacity: 0.9;
  z-index: 10;
}

.help {
  color: $fontColor;
  font-size: 36px;
  position: fixed;
  right: 2%;
  top: 1%;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: darken($fontColor, 20%);
  }
}

.home {
  color: $fontColor;
  font-size: 36px;
  position: fixed;
  right: 4%;
  top: 1%;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: darken($fontColor, 20%);
  }
}
