@mixin boardDesign($width, $height) {
  background-color: $boardColor;
  min-width: $width;
  min-height: $height;
  border: 3px solid lighten($bgColor, 50%);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 16px 5px $boardColor;
}

@mixin headerDesign($fontSize, $color, $fontFamily) {
  text-align: center;
  font-size: $fontSize;
  text-transform: uppercase;
  font-family: $fontFamily;
  color: $color;
}
