@import "_variables.scss";
@import "_mixins.scss";
@import "_mainGame.scss";
@import "_scores.scss";
@import "_chat.scss";
@import "_lobby.scss";
@import "_neonBtn.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  background-image: url("../img/black.png");
}
