$bgColor: #282c34;
$boardColor: #000;
$fontColor: #c5c5c5;
$firstPlayer: #b81800;
$secondPlayer: #05a317;
$thirdPlayer: #0b53b8;
$fourthPlayer: #acb80b;

$titleFont: 'Rampart One', cursive;
$textFont: 'Alegreya', serif;